/**
 * Site header
 */

// Header Colors
$header-bg: white;
$header-height: 3.375rem;

$header-font-color: rgba(255,255,255,0.87);
$header-font-hover: $highlight-primary;


$header-title-font-color: rgba(0,0,0,0.7);
$header-title-font-hover: $highlight-primary;

$header-title-bg-hover: rgba(0, 0, 0, 0.06);
$header-title-bg-focus: rgba(0, 0, 0, 0.12);

$header-border-width: 0.125rem;
$header-border-color: rgba(255,255,255,0.3);

.header {
  display: flex;
  align-items: center;

  background: url('./assets/Shrunk-min.png') whitesmoke;
  background-size: cover;
  background-position: center;

  .nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;

    .nav-item {
      display: flex;
      align-items: center;
      flex: 1;

      a {
        font-variant: small-caps;
        padding: 1em;
        transition: background 0.2s;

        &, &:visited {
          color: $header-font-color;
        }

        &:hover, &:focus {
          color: $header-font-color;
        }
        &:hover {
          background: $header-title-bg-hover;
        }
        &:focus {
          background: $header-title-bg-focus;
        }


        &:after {
          content: "";

          display: block;
          position: relative;
          width: 0;
          bottom: 0;
          left: 50%;

          height: $header-border-width;
          background: transparent;

          transition-property: width, background, left;
          transition-duration: 0.2s;
        }
        &.router-link-exact-active:after {
          left: 0;
          width: 100%;
          background: $header-border-color;
        }
      }
    }

    .nav-bar {
      display: flex;

      .site-title {
        flex: 1;

        border: $header-border-width solid $header-border-color;
        font-size: 1.3em;
        font-family: $accent-font-family;
        text-align: center;
        text-transform: uppercase;
        color: $header-font-color;

        margin: 1em 0;
        padding: 1em;

        span {
          white-space: nowrap;
        }

        &:after {
          display: none;
        }
      }
    }

    .nav-menu {
      display: none;
      flex-direction: column;
      flex: 1;

      &.menu-active {
        display: flex;
        order: 2;
      }
    }

    #burger {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      cursor: pointer;
      width: 3.25em;
      height: 3.25em;
      position: absolute;
      top: 0;
      right: 0;

      span {
        width: 1em;
        height: 0.125em;
        background: $header-font-color;
        margin: 0.09375em 0;

        transition: transform 0.2s, background 0.2s;
      }

      &.menu-active {
        span:nth-child(1) {
          transform: translateY(0.3125em) rotate(45deg);
        }
        span:nth-child(2) {
          background: transparent;
        }
        span:nth-child(3) {
          transform: translateY(-0.3125em) rotate(-45deg);
        }
      }
    }

    #back {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;

      padding: 1em;
      will-change: padding, width, opacity;

      svg {
        height: 1.25em;
        opacity: 0.87;
        fill: $header-font-color;
      }

      &:hover {
        background: $header-title-bg-hover;
      }
      &:focus {
        background: $header-title-bg-focus;
      }

      &.grow-enter-active, &.grow-leave-active {
        transition: opacity 0.2s;
      }
      &.grow-enter, &.grow-leave-to {
        opacity: 0;
      }
    }

    .nav-line, .nav-item:before, .nav-item:after {
      height: $header-border-width;
      background-color: $header-border-color;

      width: auto;
      display: block;
      flex: 1;
    }
    .nav-item:before, .nav-item:after {
      content: '';
      min-width: 2em;
    }
    .nav-line {
      display: none;
    }

  }

  @include desktop {
    .nav {
      flex-direction: row;
      align-items: center;

      #burger {
        display: none;
      }

      .nav-bar {
        align-items: center;
      }
      .nav-menu {
        display: flex;
        flex-direction: row;
        align-items: center;

        &.nav-active {
          height: auto;
        }
      }
      .nav-sep {
        display: block;
      }
      .nav-line {
        display: block;
      }
    }
  }
}

/***
 ***/
