section.page {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

$slide-time: 350ms;

.wipe-left {

  &-enter-active,
  &-leave-active {
    transition: all $slide-time cubic-bezier(0.4, 0.0, 0.2, 1);
    will-change: opacity, transform;
  }

  &-enter-active {
    z-index: 1;
  }

  &-leave-active {
	position: absolute !important;
	width: 100%;
  }

  &-enter {
    opacity: 0;
    transform: translateX(-10%);
  }

  &-leave-to {
    opacity: 0;
    transform: translateX(10%);
  }

  &-enter-to,
  &-leave {
    opacity: 1;
    transform: translateX(0);
  }
}

.wipe-right {

  &-enter-active,
  &-leave-active {
    transition: all $slide-time cubic-bezier(0.4, 0.0, 0.2, 1);
  }

  &-enter-active {
    z-index: 1;
  }


  &-leave-active {
	position: absolute !important;
	width: 100%;
  }

  &-enter {
    opacity: 0;
    transform: translateX(10%);
  }

  &-leave-to {
    opacity: 0;
    transform: translateX(-10%);
  }

  &-enter-to,
  &-leave {
    opacity: 1;
    transform: translateX(0);
  }
}
