$footer-bg: #f5f5f5;
$footer-border: 1px solid $hr-color;
$footer-copy-color: $font-grey;

$footer-inset: 2em;
$footer-inset-mobile: 1em;

footer.footer {
  display: flex;
  flex-direction: column;

  background: $footer-bg;
  padding: 1em 0;
  margin-top: 1em;

  position: relative;
  align-items: center;
  justify-content: center;

  ul.social-media {
    display: flex;
    justify-content: center;
    margin: 1em 0;

    li.social-icon {
      margin: 0 0.5em;
    }
  }

  span.copyright {
    color: $footer-copy-color;
    text-align: center;

    display: block;
    margin: 1em 0;
  }
}