// $gallery-aspect-ratio: 4 / 3;
// $gallery-aspect-ratio: 5 / 4;

.image-gallery {
  outline: none;
  margin-bottom: 1em;

  user-select: none;

  .transition-off {
    transition: none !important;
  }

  .main-container {
    position: relative;
    display: flex;
    justify-content: center;
    border-radius: $corner-radius;
    overflow: hidden;
    cursor: pointer;

    margin-bottom: 0.5em;

    max-height: 75vh;

    .bg {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      background: black;
    }

    .images {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;

      // transition: transform 0.3s cubic-bezier(0.4, 0.0, 0.2, 1);
      will-change: transform;

      .big-image {
        display: flex;

        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        img {
          max-height: 100%;
          max-width: 100%;
          height: auto;
          width: auto;
          margin: auto;
          object-fit: contain;

          // disable right click on image
          pointer-events: none;
        }
      }

      &.hide .big-image {
        opacity: 0;
        transition: opacity 0ms 1ms;
      }
    }

    .action-button {
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 3;
      position: absolute;

      padding: 1em;

      transition: all 0.15s $transition;

      cursor: pointer;

      top: 0;
      height: 100%;

      svg {
        width: 1.25em;
        height: 1.25em;
        fill: white;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &:hover {
        background-color: rgba(255, 255, 255, 0.12);
      }

      &#left {
        left: 0;
      }

      &#right {
        right: 0;
      }

      &#fullscreen {
        left: 0;
        width: 3.25em;
        height: 3.25em;
        z-index: 4;
      }
    }
  }

  .thumb-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 0.5em;

    .thumb {
      padding-top: 75%;
      border-radius: $corner-radius;

      transition: opacity 0.2s;
      cursor: pointer;

      &.active {
        opacity: 0.7;
      }

      img {
        object-position: 50% 30%
      }
    }
  }
}