/**
 * Site header
 */

// Header Colors
$header-bg: grey;

$header-font-color: rgba(255, 255, 255, 0.87);
$header-font-hover: $highlight-primary;

$header-title-font-color: rgba(0, 0, 0, 0.7);
$header-title-font-hover: $highlight-primary;

$header-title-bg-hover: rgba(0, 0, 0, 0.06);
$header-title-bg-focus: rgba(0, 0, 0, 0.12);
$header-title-bg-hover-transparent: rgba(255, 255, 255, 0.12);
$header-title-bg-focus-transparent: rgba(255, 255, 255, 0.24);

$header-border-width: 0.125rem;
$header-border-color: rgba(255, 255, 255, 0.3);

$header-dropdown-bg:hsl(26, 3%, 50%);
//$header-dropdown-shadow: drop-shadow(1px 2px 9px rgba(0, 0, 0, 0.2));
$header-dropdown-shadow: 0 5px 10px rgba(0,0,0,.05), 0 15px 40px rgba(0,0,0,.2);


.header {
//   background: url('./assets/Shrunk-min.png') $header-bg;
	background: $header-bg;
	background-size: cover;
	background-position: center;

	transition: 0.2s all;

	height: var(--header-height);

	position: absolute;
	width: 100%;
	z-index: 10;

	--header-title-bg-hover: #{$header-title-bg-hover};
	--header-title-bg-focus: #{$header-title-bg-hover};

  .nav {
	height: 100%;

    .nav-bar.mobile {
      .nav-menu {
        overflow-x: auto;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;

        &::-webkit-scrollbar {
          display: none;
        }

        .nav-item {
          white-space: nowrap;
          flex-grow: 0;

          &:before,
          &:after {
            display: none;
          }
        }
      }
    }

    .nav-bar.desktop {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
	  flex: 1;
	  height: 100%;
    }

    .nav-item {
      display: flex;
      align-items: center;
      flex: 1;
      position: relative;

      a,
      span {
		display: flex;
		align-items: center;
        color: $header-font-color;
        font-variant: small-caps;
        padding: 1em;
        transition: background 0.2s;
      }

      a {

        &:visited,
        &:hover,
        &:focus {
          color: $header-font-color;
        }

        &:hover {
          background: var(--header-title-bg-hover);
        }

        &:focus {
          background: var(--header-title-bg-focus);
        }

        // &:after {
        //   content: "";

        //   display: block;
        //   position: relative;
        //   width: 0;
        //   bottom: 0;
        //   left: 50%;

        //   height: $header-border-width;
        //   background: transparent;

        //   transition-property: width, background, left;
        //   transition-duration: 0.2s;

        // }

        // &.router-link-exact-active:after {
        //   left: 0;
        //   width: 100%;
        //   background: $header-border-color;
        // }
      }
    }

    .nav-item.has-dropdown {
      span {
		cursor: default;

		svg {
			margin-left: 0.25em;
    		margin-right: -0.25em;
		}
      }

      &:hover span {
        background: var(--header-title-bg-hover);
      }

      &:hover {
        .nav-dropdown {
          visibility: visible;
          opacity: 1;
        }
      }
    }

    .nav-dropdown {
      display: flex;
      flex-direction: column;

      position: absolute;
      top: 100%;
      width: 100%;
      z-index: 9999;

      visibility: hidden;
      opacity: 0;

      background: $header-dropdown-bg;
      box-shadow: $header-dropdown-shadow;
      border-radius: $corner-radius;
      transition: all 0.15s;
    }

    .site-title {

      a {
        border: $header-border-width solid $header-border-color;
        font-size: 1.3em;
        font-family: $accent-font-family;
        text-align: center;
        text-transform: uppercase;
		color: $header-font-color;

		padding: 1em;

		flex-direction: column;

        span {
		  padding: 0;
		  white-space: nowrap;
        }

        // &:after {
        //   display: none !important;
        // }
      }

    }

    .nav-menu {
      display: flex;
      flex-direction: row;
      flex: 1;
      align-items: center;

      .nav-item:first-child {
        margin-left: auto;
      }

      .nav-item:last-child {
        margin-right: auto;
      }
    }

    #back {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;

      padding: 1em;

      svg {
        height: 1.25em;
        opacity: 0.87;
        fill: $header-font-color;
      }

      &:hover {
        background: $header-title-bg-hover;
      }

      &:focus {
        background: $header-title-bg-focus;
      }

      &.fade-enter-active,
      &.fade-leave-active {
        transition: opacity 0.2s;
      }

      &.fade-enter,
      &.fade-leave-to {
        opacity: 0;
      }
    }

    .nav-line,
    .nav-item:before,
    .nav-item:after {
      height: $header-border-width;
      background-color: $header-border-color;

      width: auto;
      display: block;
      flex: 1;
    }

    .nav-item:before,
    .nav-item:after {
      content: '';
      min-width: 2em;
    }

  }

  &.transparent {
    background: none;

    --header-title-bg-hover: #{$header-title-bg-hover-transparent};
    --header-title-bg-focus: #{$header-title-bg-hover-transparent};
  }
}

/***
 ***/
