$drop-shadow: drop-shadow(0px 0px 6px black);

.lightbox-container {
  .transition-off {
    transition: none !important;
  }

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;

  outline: none;

  display: flex;
  align-items: center;
  justify-content: center;

  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0,0,0,1);
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  .lightbox {
    z-index: 1;
    width: 100%;
    height: 100%;

    transition: all .3s ease;
    will-change: opacity,transform;

    .light-images {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: 2;

      display: flex;

      transition: transform 0.5s ease;
      will-change: transform;

      .light-image {
        display: flex;
        flex: 0 0 100%;
        height: 100%;

        transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);

        &.active {
          opacity: 1;
        }

        img {
          margin: auto;
          max-height: 100%;
          max-width: 100%;
          width: auto;
          height: auto;
          object-fit: contain;

          // disable right click on image
          pointer-events: none;
        }
      }
    }
  }

  &.active {
    .backdrop, .lightbox, #close, #counter, #left, #right {
      opacity: 1;
    }
  }

  #counter {
    position: absolute;
    z-index: 3;
    top: 0;
    right: 0;

    opacity: 0;
    transition: opacity 0.3s;

    color: white;
    filter: $drop-shadow;
    line-height: 3.375rem;
    padding: 0 0.8125rem;
  }

  .action-button {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    position: absolute;

    padding: 1em;
    opacity: 0;

    transition: all 0.15s;

    cursor: pointer;

    svg {
      width: 1.25em;
      height: 1.25em;
      fill: white;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &:hover {
      background-color: rgba(255,255,255,0.12);
    }

    &#close {
      top: 0;
      left: 0;
      z-index: 4;
    }
  
    &#left, &#right { height: 80%; }
    &#left { left: 0; }
    &#right { right: 0; }
  }
}
