.page.contact {
  ul.social-media {
    li.social-icon {
      margin-bottom: 0.5em;
    }
  }

  .contact-date-row {
    display: flex;
    align-items: center;

    margin-bottom: 0.5em;

    .field-item {
      flex-grow: 1;
      margin-right: 0.5em;
    }

    input[type=text] {
      display: none;
    }
  }
}