.page.contact {
  ul.social-media {
    li.social-icon {
      margin-bottom: 0.5em;
    }
  }

  .contact-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
  
    .field {
      .field-desc {
        color: $font-grey;
      }

      &.full-width {
        grid-column: 1 / span 2;
      }
    }
  }
}
