$booking-border: 0.125em solid $hr-color;

.post {

  .post-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto 1fr;
    gap: 0 2em;

    .post-title {
      grid-column-start: 1;
    }

    .post-description {
      grid-column-start: 1;
    }

    .post-gallery {
      grid-column-start: 2;
      grid-row: 1 / span 2;
    }

    @include mobile {
      grid-template-columns: none;

      .post-title {
        order: 1;
      }

      .post-description {
        order: 3;
      }

      .post-gallery {
        grid-column-start: 1;
        grid-row: unset;
        order: 2;
      }
    }
  }

  .booking-reminder {
    border-top: $booking-border;
    border-bottom: $booking-border;

    margin-top: 1em;

    padding: 0.5em 0;
  }

}
