.page#testimonials {
  .testimonials-content {
    margin-bottom: 1em;
  }

  .testimonials-list {
    .testimonial {
      display: flex;
      margin-bottom: 1em;

      .testimonial-picture {
        flex: 0 0 12em;
        height: 12em;
        margin-right: 1em;

        .progressive-background {
          padding-bottom: 100%;
        }
      }

      .testimonial-description {
        display: flex;
        flex-direction: column;
      }
    }
  }
}