.form {
    .field {
        .field-label {
            display: block;

            &-optional-badge {
                color: $font-grey;
                font-size: 0.8em;
            }
        }

        .field-desc {
            color: $font-grey;
            margin-bottom: 0.5em;
        }

        &.full-width {
            grid-column: 1 / span 2;
        }
    }

    &-grid-2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1em;
    }
}