svg.icon {
	display: block;
	width: 1.25em;
	height: 1.25em;

	transition: fill 0.2s;

	border-radius: $corner-radius;

	fill: $font-grey;

	&:hover {
		fill: $highlight-primary;
	}

	&.light {
		fill: $font-light;

		&:hover {
			fill: $highlight-light
		}
	}
}


ul.social-media {

	li.social-icon {
		display: flex;
		align-items: center;

		a {
			display: flex;
			align-items: center;

			span {
				transition: color 0.2s;

				&:hover {
					color: $highlight-primary;
				}
			}
		}

		span {
			margin-left: 0.5em;
			color: $font-grey;
		}
	}

	&.light {
		li.social-icon {
			a span {
				color: $font-light;

				&:hover {
					color: $highlight-light;
				}
			}
		}
	}
}
