@charset "utf-8";

// @import "normalize";
@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/base/_all.sass";
@import "bulma/sass/elements/container.sass";
@import "variables";

/***
 ***/

/*
 * Default element restyles
 */
 html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font: $base-font-weight #{$base-font-size}/#{$base-line-height}
		$base-font-family;
	color: $font-primary;

	background: $bg-main;

	-webkit-text-size-adjust: 100%;
	-webkit-font-feature-settings: "kern" 1;
	-moz-font-feature-settings: "kern" 1;
	-o-font-feature-settings: "kern" 1;
	font-feature-settings: "kern" 1;
	font-kerning: normal;

	--header-height: #{$header-height};

	@include mobile {
		--header-height: #{$header-height-mobile};
	}
}

a {
	color: $link-color;
	text-decoration: none;

	transition: color 0.15s;

	&:hover {
		color: $link-hover;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $accent-font-family;
	font-variant: small-caps;
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 2.25em;
}

h3 {
	font-size: 1.75em;
}

h4 {
	font-size: 1.5em;
}

h5 {
	font-size: 1.25em;
}

h6 {
	font-size: 1em;
}

p {
	margin-bottom: 1em;
	line-height: $paragraph-line-height;

	// &:last-child {
	//   margin-bottom: 0;
	// }
}

hr {
	border: 0.125em solid $hr-color;
}

// For some reason these are a thing...
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/*
 * Webkit scrollbar style
 */
::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}

::-webkit-scrollbar-track {
	background-color: #ddd;
}

::-webkit-scrollbar-thumb {
	background-color: #999;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #777;
}

/**
No script
 */

noscript {
	display: flex;
	font-size: 1.2em;
	height: 100vh;
	justify-content: center;
	align-items: center;
}

noscript + .spinner {
	display: none;
}

/** Form */
.form {
	.field {
		.field-label {
			display: block;

			&-optional-badge {
				color: $font-grey;
				font-size: 0.8em;
			}
		}

		.field-desc {
			color: $font-grey;
			margin-bottom: 0.5em;
		}

		&.full-width {
			grid-column: 1 / span 2;
		}
	}

	&-grid-2 {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 1em;
	}
}

/** App stuff */

#app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

section.page {
	margin-top: calc(var(--header-height) + 1em);
	flex-grow: 1;
}

.is-one-half {
	width: 50%;
	margin: 0 auto;
}

.is-two-thirds {
	width: 66.666%;
	margin: 0 auto;
}

@include touch {
	.container {
		margin: 0 1em;
	}
}

@media screen and (min-width: 1408px) {
	section .container.narrow {
		max-width: 1152px !important;
	}
}


/***
 ***/

 @import "inputs",
 "transitions/feed",
 "transitions/pages";
